{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h3>Transfer</h3>
<form method="post">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-6">{{ form.from_account|as_crispy_field }}</div>
    <div class="col-md-6">{{ form.beneficiary|as_crispy_field }}</div>
  </div>
  {{ form.to_identifier|as_crispy_field }}
  <div class="row">
    <div class="col-md-4">{{ form.amount|as_crispy_field }}</div>
    <div class="col-md-4">{{ form.category|as_crispy_field }}</div>
    <div class="col-md-4">{{ form.description|as_crispy_field }}</div>
  </div>
  <button class="btn btn-primary">Transfer</button>
  <a class="btn btn-outline-secondary" href="{% url 'beneficiaries' %}">Manage Beneficiaries</a>
</form>
{% endblock %}

